<h2><%= @garage.name %></h2>
<p>ID: <%=@garage.id  %></p>
<p>Name: <%=@garage.name  %></p>
<p>Slots: <%=@garage.slots  %></p>
<p>City: <%=@garage.city  %></p>
<p>Zipcode: <%=@garage.zipcode  %></p>
<p>Created: <%=@garage.created_at %></p>
<p>Updated: <%=@garage.updated_at %></p>
<br>
<span><a href="/garages">Back</a></span>
