<h1>All children for Garage <%= @garage.id %></h1>
<p><a id ="sort" href="/garages/<%=@garage.id%>/cars/?sort=true">Sort Alphabetically (by owner)</a></p>
<form action="/garages/<%= @garage.id %>/cars/?miles=">
<label>Return records with more than:</label>
<input type = "number" id="filter_miles" placeholder = "MILES" name="miles" required>
<input type="submit" value="Filter" id="submit_filter">
</form>

<% @cars.each do |car| %>
  <p>ID: <%= car.id %></p>
  <p>Operational: <%= car.operational %></p>
  <p>Miles: <%= car.miles %></p>
  <p>Color: <%= car.color %></p>
  <p>Owner: <%= car.owner %></p>
  <p>Created: <%= car.created_at %></p>
  <p>Updated: <%= car.updated_at %></p>
  <a id= "<%=car.id%>_edit"href ="/cars/<%=car.id%>/edit"><p>Edit Car <%= car.id %></p></a>
  <p>--------------------------------</p>
<% end %>
<br>
<a id="add_car" href = "/garages/<%="#{@garage.id}"%>/cars/new"><button type="button">Add a Car</button></a>
<br>
<br>
<p><a href= "/garages/<%=@garage.id%>">Back</a></p>
