<h2><%= @car.id %></h2>
<p>ID: <%=@car.id  %></p>
<p>Operational: <%=@car.operational  %></p>
<p>Miles: <%=@car.miles  %></p>
<p>Color: <%=@car.color  %></p>
<p>Owner: <%=@car.owner %></p>
<p>Created: <%=@car.created_at %></p>
<p>Updated: <%=@car.updated_at %></p>
<br>
<a id="edit_car" href = "/cars/<%="#{@car.id}"%>/edit"><button type="button">Update Car</button></a>
<br>
<br>
<form action="/cars/<%= @car.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input id ="delete" style ="background-color:red;color:white" type="submit" value="DELETE THIS CAR!"/>
  </form>
<br>
<span><a href="/cars">Back</a></span>