<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p style= "text-align:center;color:white;background-color:grey">Take me back to the <a href="/cars">cars index</a> page!</p>
    <%= yield %>
  </body>
</html>
